/* You can add global styles to this file, and also import other style files */

/* @import "../node_modules/primeng/resources/themes/nove-light/theme.css"; */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng//resources/themes/rhea/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import  "../node_modules/primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1;
  }

